.nav-item {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover {
  color: #1cb0ad;
}
.nav-item-black {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1cb0ad;
  left: 50%;
  bottom: 0;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
  left: 0;
}

.active {
  color: #1cb0ad;
}

.active::after {
  width: 100%;
  left: 0;
}

@media (max-width: 767px) {
  .nav-mobile {
    /* padding: 0 20px !important; */
  }
}
